@model MultiSelectDropDownCodeCore.Models.Department

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2 border border-4 rounded rounded-3 p-4">
            <h3 class="text-center text-info ">Add Department</h3>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a class="btn btn-secondary float-end" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
