@model MultiSelectDropDownCodeCore.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2 border border-4 rounded rounded-3 p-4">
            <h3 class="text-center text-info ">Update Employee</h3>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EmployeeId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JoiningDate" class="control-label"></label>
                    <input asp-for="JoiningDate.Date" class="form-control" />
                    <span asp-validation-for="JoiningDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentName" class="control-label"></label>
                    <select asp-for="DepartmentName" class="form-control selectpicker" asp-items="Model.departmentlist" multiple></select>
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-secondary float-end" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
